body {
  font-family: 'Raleway', sans-serif;
  size: 14px;
  background-color: hsl(229, 57%, 11%);
}

progress {
  -webkit-appearance: none;
}

::-webkit-progress-bar {
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

::-webkit-progress-value {
  background-image: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
}

.bg-img {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 99%;
}

.content {
  display: block;
  position: relative;
  top: 13rem;
  margin: auto;
  height: 15rem;
  width: 70rem;
}

.content-common {
  display: inline-block;
  position: absolute;
  bottom: 0;
  border-radius: 1rem;
}

.toolbar {
  left: 0;
  height: 100%;
  width: 23rem;
  background-color: hsl(228, 56%, 26%);
  padding-left: 2rem;
}

.logo {
  height: 7.5rem;
}

.logo-img {
  margin: 2.25rem 1rem 2.25rem 0;
  height: 3rem;
}

.tools {
  height: 7.5rem;
}

.tools-bg {
  display: inline-block;
  position: relative;
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  background-color: hsl(229, 57%, 11%);
  margin-right: 0.5rem;
}

.tools-bg:hover {
  background-color: hsl(229, 7%, 55%);
}

.tools-icons {
  width: 2.5rem;
  max-height: 2.5rem;
  position: absolute;
  bottom: 0.6rem;
  left: 0.75rem;
}

.usage {
  right: 0;
  height: 12rem;
  width: 40rem;
  background-color: hsl(228, 56%, 26%);
  color: hsl(243, 100%, 93%);
}

.usage-text {
  margin: 2rem 0 2rem 2rem;
}

.usage-bar-container {
  position: relative;
  height: 3rem;
  width: 35rem;
  margin: 0 auto;
}

.usage-bar {
  display: block;
  margin: 1rem auto;
  width: 92.5%;
  height: 1.2rem;
}

.usage-bar-text {
  display: inline-block;
  position: absolute;
  margin: 0;
}

.usage-bar-text-min {
  left: 0;
}

.usage-bar-text-max {
  right: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
